# Created by .ignore support plugin (hsz.mobi)
/spring-home/src/main/resources/jdbc.properties
/spring-admin/src/main/resources/jdbc.properties
/.idea/
/spring-admin/spring-admin.iml
/spring-base/spring-base.iml
/spring-common/spring-common.iml
/spring-home/spring-home.iml
/spring.iml
/test-module/test-module.iml
spring-admin/target/
spring-base/target/
spring-common/target/
spring-home/target/
test-module/target/
/out/
/spring-admin/src/main/resources/log4j.properties
/spring-admin/src/main/resources/upload.properties
/spring-base/src/main/resources/generatorConfig.xml
/spring-home/src/main/resources/upload.properties
