<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenls1997.spring.mapper.GoodMapper" >
  <resultMap id="BaseResultMap" type="com.chenls1997.spring.model.Good" >
    <id column="GID" property="gid" jdbcType="BIGINT" />
    <result column="Gname" property="gname" jdbcType="VARCHAR" />
    <result column="GPrice" property="gprice" jdbcType="DOUBLE" />
    <result column="GTypeID" property="gtypeid" jdbcType="BIGINT" />
    <result column="GIntro" property="gintro" jdbcType="VARCHAR" />
    <result column="GImage" property="gimage" jdbcType="VARCHAR" />
    <result column="GSail" property="gsail" jdbcType="BIGINT" />
    <result column="Gstock" property="gstock" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    GID, Gname, GPrice, GTypeID, GIntro, GImage, GSail, Gstock
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from x_goods
    where GID = #{gid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from x_goods
    where GID = #{gid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chenls1997.spring.model.Good" >
    insert into x_goods (GID, Gname, GPrice, 
      GTypeID, GIntro, GImage, 
      GSail, Gstock)
    values (#{gid,jdbcType=BIGINT}, #{gname,jdbcType=VARCHAR}, #{gprice,jdbcType=DOUBLE}, 
      #{gtypeid,jdbcType=BIGINT}, #{gintro,jdbcType=VARCHAR}, #{gimage,jdbcType=VARCHAR}, 
      #{gsail,jdbcType=BIGINT}, #{gstock,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.chenls1997.spring.model.Good" >
    insert into x_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        GID,
      </if>
      <if test="gname != null" >
        Gname,
      </if>
      <if test="gprice != null" >
        GPrice,
      </if>
      <if test="gtypeid != null" >
        GTypeID,
      </if>
      <if test="gintro != null" >
        GIntro,
      </if>
      <if test="gimage != null" >
        GImage,
      </if>
      <if test="gsail != null" >
        GSail,
      </if>
      <if test="gstock != null" >
        Gstock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=BIGINT},
      </if>
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gprice != null" >
        #{gprice,jdbcType=DOUBLE},
      </if>
      <if test="gtypeid != null" >
        #{gtypeid,jdbcType=BIGINT},
      </if>
      <if test="gintro != null" >
        #{gintro,jdbcType=VARCHAR},
      </if>
      <if test="gimage != null" >
        #{gimage,jdbcType=VARCHAR},
      </if>
      <if test="gsail != null" >
        #{gsail,jdbcType=BIGINT},
      </if>
      <if test="gstock != null" >
        #{gstock,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenls1997.spring.model.Good" >
    update x_goods
    <set >
      <if test="gname != null" >
        Gname = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gprice != null" >
        GPrice = #{gprice,jdbcType=DOUBLE},
      </if>
      <if test="gtypeid != null" >
        GTypeID = #{gtypeid,jdbcType=BIGINT},
      </if>
      <if test="gintro != null" >
        GIntro = #{gintro,jdbcType=VARCHAR},
      </if>
      <if test="gimage != null" >
        GImage = #{gimage,jdbcType=VARCHAR},
      </if>
      <if test="gsail != null" >
        GSail = #{gsail,jdbcType=BIGINT},
      </if>
      <if test="gstock != null" >
        Gstock = #{gstock,jdbcType=BIGINT},
      </if>
    </set>
    where GID = #{gid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenls1997.spring.model.Good" >
    update x_goods
    set Gname = #{gname,jdbcType=VARCHAR},
      GPrice = #{gprice,jdbcType=DOUBLE},
      GTypeID = #{gtypeid,jdbcType=BIGINT},
      GIntro = #{gintro,jdbcType=VARCHAR},
      GImage = #{gimage,jdbcType=VARCHAR},
      GSail = #{gsail,jdbcType=BIGINT},
      Gstock = #{gstock,jdbcType=BIGINT}
    where GID = #{gid,jdbcType=BIGINT}
  </update>
</mapper>