<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenls1997.spring.mapper.SubMapper" >
  <resultMap id="BaseResultMap" type="com.chenls1997.spring.model.Sub" >
    <id column="SubID" property="subid" jdbcType="VARCHAR" />
    <result column="UserID" property="userid" jdbcType="VARCHAR" />
    <result column="GoodsID" property="goodsid" jdbcType="BIGINT" />
    <result column="RAddress" property="raddress" jdbcType="VARCHAR" />
    <result column="SpDate" property="spdate" jdbcType="TIMESTAMP" />
    <result column="SpCount" property="spcount" jdbcType="INTEGER" />
    <result column="GPrice" property="gprice" jdbcType="DOUBLE" />
    <result column="SpPrice" property="spprice" jdbcType="DOUBLE" />
    <result column="SendDate" property="senddate" jdbcType="TIMESTAMP" />
    <result column="State" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    SubID, UserID, GoodsID, RAddress, SpDate, SpCount, GPrice, SpPrice, SendDate, State
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from x_subs
    where SubID = #{subid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from x_subs
    where SubID = #{subid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chenls1997.spring.model.Sub" >
    insert into x_subs (SubID, UserID, GoodsID, 
      RAddress, SpDate, SpCount, 
      GPrice, SpPrice, SendDate, 
      State)
    values (#{subid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{goodsid,jdbcType=BIGINT}, 
      #{raddress,jdbcType=VARCHAR}, #{spdate,jdbcType=TIMESTAMP}, #{spcount,jdbcType=INTEGER}, 
      #{gprice,jdbcType=DOUBLE}, #{spprice,jdbcType=DOUBLE}, #{senddate,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chenls1997.spring.model.Sub" >
    insert into x_subs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subid != null" >
        SubID,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="goodsid != null" >
        GoodsID,
      </if>
      <if test="raddress != null" >
        RAddress,
      </if>
      <if test="spdate != null" >
        SpDate,
      </if>
      <if test="spcount != null" >
        SpCount,
      </if>
      <if test="gprice != null" >
        GPrice,
      </if>
      <if test="spprice != null" >
        SpPrice,
      </if>
      <if test="senddate != null" >
        SendDate,
      </if>
      <if test="state != null" >
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subid != null" >
        #{subid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="raddress != null" >
        #{raddress,jdbcType=VARCHAR},
      </if>
      <if test="spdate != null" >
        #{spdate,jdbcType=TIMESTAMP},
      </if>
      <if test="spcount != null" >
        #{spcount,jdbcType=INTEGER},
      </if>
      <if test="gprice != null" >
        #{gprice,jdbcType=DOUBLE},
      </if>
      <if test="spprice != null" >
        #{spprice,jdbcType=DOUBLE},
      </if>
      <if test="senddate != null" >
        #{senddate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenls1997.spring.model.Sub" >
    update x_subs
    <set >
      <if test="userid != null" >
        UserID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null" >
        GoodsID = #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="raddress != null" >
        RAddress = #{raddress,jdbcType=VARCHAR},
      </if>
      <if test="spdate != null" >
        SpDate = #{spdate,jdbcType=TIMESTAMP},
      </if>
      <if test="spcount != null" >
        SpCount = #{spcount,jdbcType=INTEGER},
      </if>
      <if test="gprice != null" >
        GPrice = #{gprice,jdbcType=DOUBLE},
      </if>
      <if test="spprice != null" >
        SpPrice = #{spprice,jdbcType=DOUBLE},
      </if>
      <if test="senddate != null" >
        SendDate = #{senddate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where SubID = #{subid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenls1997.spring.model.Sub" >
    update x_subs
    set UserID = #{userid,jdbcType=VARCHAR},
      GoodsID = #{goodsid,jdbcType=BIGINT},
      RAddress = #{raddress,jdbcType=VARCHAR},
      SpDate = #{spdate,jdbcType=TIMESTAMP},
      SpCount = #{spcount,jdbcType=INTEGER},
      GPrice = #{gprice,jdbcType=DOUBLE},
      SpPrice = #{spprice,jdbcType=DOUBLE},
      SendDate = #{senddate,jdbcType=TIMESTAMP},
      State = #{state,jdbcType=INTEGER}
    where SubID = #{subid,jdbcType=VARCHAR}
  </update>
</mapper>