<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenls1997.spring.mapper.TypesMapper" >
  <resultMap id="BaseResultMap" type="com.chenls1997.spring.model.Types" >
    <id column="TypeID" property="typeid" jdbcType="BIGINT" />
    <result column="TypeName" property="typename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TypeID, TypeName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from x_types
    where TypeID = #{typeid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from x_types
    where TypeID = #{typeid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chenls1997.spring.model.Types" >
    insert into x_types (TypeID, TypeName)
    values (#{typeid,jdbcType=BIGINT}, #{typename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chenls1997.spring.model.Types" >
    insert into x_types
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeid != null" >
        TypeID,
      </if>
      <if test="typename != null" >
        TypeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeid != null" >
        #{typeid,jdbcType=BIGINT},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenls1997.spring.model.Types" >
    update x_types
    <set >
      <if test="typename != null" >
        TypeName = #{typename,jdbcType=VARCHAR},
      </if>
    </set>
    where TypeID = #{typeid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenls1997.spring.model.Types" >
    update x_types
    set TypeName = #{typename,jdbcType=VARCHAR}
    where TypeID = #{typeid,jdbcType=BIGINT}
  </update>
</mapper>