.ucenter-content {
    .left-nav {
        font-size: 14px;
    }
    .ln-c .navt{position:relative;top:-17px}
    .ln-c .nav{text-shadow:#fff 1px 1px 0}
    .nav .tit{padding:8px 0 12px 20px;font-size:15px;font-weight:bold;height:16px;font-family:"å¾®è½¯é›…é»‘",Microsoft YaHei}
    .nav .tit a{color:#333;font-family:"å¾®è½¯é›…é»‘",Microsoft YaHei}
    .nav .set{background:#fff;position:relative;width:132px;_padding-bottom:8px}
    .nav .set em{display:inline-block;background:#ffb257;width:8px;height:35px;position:absolute;top:0;left:-8px}
    .nav .set i{display:inline-block;background:#fff;width:2px;height:36px;position:absolute;top:0;right:-2px;z-index:31}
    .ln-c .nav .mylogin{margin-bottom:10px}
    .ln-c .nav .mylogin a{font-weight:normal;font-family:"å¾®è½¯é›…é»‘",Microsoft YaHei;display:block;margin-bottom:10px}
    .nav ul{padding:0 0 10px 0;color:#666;line-height:24px;_line-height:27px}
    .nav ul li h1{font-weight:normal}
    .nav ul li{padding:5px 20px}
    .nav ul li:hover,.nav ul li.hover{background:#e7e6e6}
    .nav ul li.sel:hover{background:0}
    .nav li.sel{padding:0}
    .nav li .set{padding:5px 20px;height:25px;width:112px}
    .nav .user-ck li .sec p{background:0;padding:5px 0 5px 40px}
    .nav .user-ck li .sec p.cur{background:#dfdfdf;font-weight:bold}
    .nav .user-ck li.sel .sec p:hover{background:#e7e6e6}
    .nav li a{color:#666;display:block;position:relative}
    .nav li a:hover{text-decoration:none}
    .nav .item-app .ico-new{position:absolute;margin-top:-15px;margin-left:85px}
    .nav .mobile_entry .n-c{background:url(../r/mobile/phone.png) no-repeat right center;padding-right:15px}
    .nav .edu_entry .item-app .ico-new{margin-left:62px}
    .nav .user-ck li.cur{background:#dfdfdf}
    .nav .user-ck li p{background:url(../r/page/pic-max.gif) no-repeat;padding-left:24px;zoom:1}
    .nav .user-ck li p.cka{background-position:0 2px}
    .nav .user-ck li p.ckb{background-position:0 -58px;position:relative}
    .nav .user-ck li p.ckc{background-position:0 -91px}
    .nav .user-ck li p.ckd{background-position:0 -123px}
    .nav .user-ck li p.ckl{background-position:0 -152px}
    .nav .user-ck li p.ckm{background-position:0 -182px}
    .nav .user-ck li p.cke{background-position:0 -216px}
    .nav .user-ck li p.ckf{background-position:0 -498px}
    .nav .user-ck li p.ckg{background-position:0 -526px}
    .nav .user-ck li p.ckh{background-position:0 -552px}
    .nav .user-ck li p.cki{background-position:0 -579px}
    .nav .user-ck li p.ckj{background-position:0 -605px}
    .nav .user-ck li p.ckk,.nav .user-ck li p.ckr{background-position:0 -633px}
    .nav .user-ck li p.ckn{background-position:0 -667px}
    .nav .user-ck li p.cko{background-position:0 -727px}
    .nav .user-ck li p.ckp{background-position:0 -754px}
    .nav .user-ck li p.ckz{background-position:0 -787px}
    .nav .user-ck li p.ckv{background-position:0 -931px}
    .nav .user-ck li p.ckw{background-position:0 -847px}
    .nav .user-ck li p.ckx{background-position:0 -876px}
    .nav .user-ck li p.cky{background-position:0 -904px}
    .nav .user-ck li p.ckr{background-position:0 -958px}
    .nav .user-ck li p.cks{background-position:0 -987px}
    .nav .user-ck li p.ckall{background-position:0 -958px}
    .nav .user-ck li p.ck-mobile{background-position:0 -1015px}
    .nav .user-ck li p.ck-vip{background-position:0 -1040px}
    .nav .user-ck li p.cky a{background:url("../r/p/hot1.gif") no-repeat scroll 55px 9px transparent}
    .nav .user-ck li.sel p{color:#333;font-weight:bold}
    .nav .user-ck li p s{color:#666;font-weight:normal;font-size:11px;font-family:Arial,Helvetica,sans-serif;position:absolute;top:0;*top:-5px;_top:-7px}
    .nav .user-ck li.sel p a{color:#333;font-family:"å¾®è½¯é›…é»‘",Microsoft YaHei}
    .nav .user-ck li.sel p a:hover{color:#f60}
    .nav .user-ck li.sel .sec p{font-size:12px;color:#666;font-weight:normal}
    .nav .user-ck li.sel .sec p a{color:#666;font-family:"å®‹ä½“",Songti SC}
    .nav .user-ck li.sel .sec p a:hover{color:#f60}
    .nav .user-ck li.sel p.cka{background-position:0 -249px}
    .nav .user-ck li.sel p.ckb{background-position:0 -309px}
    .nav .user-ck li.sel p.ckc{background-position:0 -342px}
    .nav .user-ck li.sel p.ckd{background-position:0 -373px}
    .nav .user-ck li.sel p.ckl{background-position:0 -404px}
    .nav .user-ck li.sel p.ckm{background-position:0 -433px}
    .nav .user-ck li.sel p.cke{background-position:0 -467px}
    .nav .user-ck li.sel p.ckn{background-position:0 -696px}
    .nav .user-ck li.sel p.ckz{background-position:0 -819px}
    .nav a:hover{text-decoration:none}
    .nav .user-ck li p.ckb .task-tohost-num,.nav .user-ck li p .menu-tips-num{display:none;height:17px;line-height:17px;padding:0 5px;font-size:12px;font-weight:normal;background:#fe6600;border-radius:3px;color:#fff;position:absolute;right:1px;top:4px;text-shadow:none}
    body.twitterStyle .nav .most-title li:hover,body.twitterStyle .nav .most-title li.hover,.nav .most-title li.xcur{background:#fff;border:1px solid #e0e0e0;border-width:1px 0}
    .nav .most-title li{position:relative;z-index:20;border:1px solid #e3f2f8;border-width:1px 0;zoom:1}
    .nav .most-title li .pd-most{width:500px;min-height:80px;padding:1px 10px 0;border:1px solid #d0d0d0;border-radius:0 5px 5px 0;z-index:41;left:152px;top:-20px;box-shadow:1px 0 2px 0 #d0d0d0;background:#fff;position:absolute;padding:10px 15px;display:none}
    .nav .most-title li .pd-most dt{width:90px;font-size:12px;padding:5px;font-weight:bold;float:left}
    .nav .most-title li .pd-most dd{width:400px;float:left}
    .nav .most-title li .pd-most dd a{display:inline-block;margin:5px;color:#666}
    .nav .most-title li .pd-most dd a:hover{color:#f60;text-decoration:underline}
    .nav .most-title li .pd-most dl{margin:5px 0}
    body.twitterStyle .nav .most-title li:hover,body.twitterStyle .nav .most-title li.hover{background:#fff url(../r/page/rbg.gif) no-repeat 140px center;z-index:40}
    body.twitterStyle .nav .most-title li.nomo:hover{background:#fff}
    .nav .most-title li:hover .pd-most,.nav .most-title li.hover .pd-most{display:block;z-index:42}
    .nav .most-title li:hover i,.nav .most-title li.hover i,.nav .most-title li.xcur i{display:inline-block;background:#fff;width:5px;height:34px;*height:36px;position:absolute;top:0;right:-2px;z-index:100}
    .nav .most-title li.xcur i{z-index:20}
    .nav .most-title .xcur:hover i{z-index:100}
    .nav .most-title li:hover em,.nav .most-title li.hover em,.nav .most-title li.xcur em{display:inline-block;background:#000;width:8px;height:34px;*height:36px;position:absolute;top:0;left:-8px;z-index:100}
    .nav .most-title li em.kv{background:#a2b96e}
    .nav .most-title li em.kf{background:#d8a6d3}
    .nav .most-title li em.kg{background:#e3a769}
    .nav .most-title li em.kh{background:#8fb9d2}
    .nav .most-title li em.ki{background:#9cc}
    .nav .most-title li em.kj{background:#e17171}
    .nav .most-title li em.kk{background:#aec481}
    .nav .most-title li em.ko{background:#e3a769}
    .nav .most-title li em.kp{background:#d8a6d3}
    .nav .most-title li em.kx{background:#d8a6d3}
    .nav .most-title li em.ky{background:#eaa093}
    .nav .most-title li em.kw{background:#a2b96e}
    .nav .most-title li em.kr,.nav .most-title li em.kall{background:#b8b8f3}
    .nav .most-title li em.ks,.nav .most-title li em.le{background:#5ac4da}
    .nav .most-title li em.ip{background:#62b9fe}
    .t5s.myzbj .left-nav{width:230px;font-family:"Microsoft YaHei","宋体"}
    .t5s.myzbj .main .main-con{max-width:1060px;width:1060px}
    .t5s.myzbj .left-nav .ln-c{width:230px;background:#f9f9f9;padding-top:0;padding-bottom:30px}
    .t5s.myzbj .contnet{margin:0}
    .t5s.myzbj #unionShare{display:none}
    .t5s.myzbj fieldset.tit-summary{border-bottom:0;border-left:0;border-right-width:0;border-style:solid;height:5px;border-top-width:1px;border-color:#dcdbdb;margin:0;padding:0 10px;height:20px}
    .t5s.myzbj fieldset.tit-summary legend{color:#666;font-size:14px;margin-left:5px;padding:0 4px;width:auto;border:0}
    .t5s.myzbj .nav .user-ck li p{background:0;padding-left:0;zoom:1}
    .t5s.myzbj .nav .most-title li:hover,body.t5s.myzbj .nav .most-title li.hover{background-image:none;background-color:#efefef}
    .t5s.myzbj .nav .most-title li:hover i,.t5s.myzbj .nav .most-title li.hover i,.t5s.myzbj .nav .most-title li.xcur i,.t5s.myzbj .nav ul li:hover,.t5s.myzbj .nav ul li.hover{background-color:#efefef}
    .t5s.myzbj .nav .most-title li em.kv,.t5s .nav .most-title li em.kf,.t5s.myzbj .nav .most-title li em.kg,.t5s.myzbj .nav .most-title li em.kh,.t5s.myzbj .nav .most-title li em.ki,.t5s.myzbj .nav .most-title li em.kj,.t5s.myzbj .nav .most-title li em.kk,.t5s.myzbj .nav .most-title li em.ko,.t5s.myzbj .nav .most-title li em.kp,.t5s.myzbj .nav .most-title li em.kx,.t5s.myzbj .nav .most-title li em.ky,.t5s.myzbj .nav .most-title li em.kw,.t5s.myzbj .nav .most-title li em.kr,.nav .most-title li em.kall,.t5s.myzbj .nav .most-title li em.ks,.nav .most-title li em.le,.t5s.myzbj .nav .most-title li em.ip{background:#ff8a00}
    .t5s.myzbj .nav ul{padding:5px 0 5px 0;display:none}
    .t5s.myzbj .nav li a{color:black}
    .t5s.myzbj .nav .most-title li{border:0}
    .t5s.myzbj .seperator{height:1px;background:#dcdbdb;border:0;padding:0;margin:0;*font-size:0;*zoom:1}
    .t5s.myzbj .userinfo{padding:20px}
    .t5s.myzbj .userinfo .user-money li{padding-left:0;padding-right:0}
    .t5s.myzbj .userinfo .fr{display:inline}
    .t5s.myzbj .nav .task-tohost-num{text-shadow:none}
    .t5s.myzbj .left-nav{padding-top:0;}
    .t5s.myzbj .most-s-c dt{width:60px}
    .t5s.myzbj .user-money p.fr{display:inline}
    .t5s.myzbj .nav li .set{width:190px}
    .t5s.myzbj .nav .most-title li:hover i,.t5s.myzbj .nav .most-title li.hover i,.t5s.myzbj .nav .most-title li.xcur i,.t5s.myzbj .nav ul li:hover,.t5s.myzbj .nav ul li.hover,.t5s.myzbj .nav li:hover .set,.nav li.hover .set,.t5s.myzbj .nav .set{background:#efefef}
    .t5s.myzbj .nav .set{width:210px}
    .t5s.myzbj .nav .most-title li:hover em,.nav .most-title li.hover em,.nav .most-title li.xcur em,.nav .set em{background:#ff8a00;height:35px}
    .t5s.myzbj.seller .nav .most-title li:hover em,.t5s.myzbj.seller .nav .most-title li.hover em,.t5s.myzbj.seller .nav .most-title li.xcur em,.t5s.myzbj.seller .nav .set em{background:#126fb5}
    .t5s.myzbj .nav .most-title li:hover,body.t5s.myzbj .nav .most-title li.hover,.t5s.myzbj .nav .most-title li.xcur{border-width:0}
    .t5s.myzbj .nav .user-ck li.sel p a:hover{color:black}
    .t5s.myzbj .nav .set em{height:35px}
    .t5s.myzbj .nav .most-title li:hover i,.t5s.myzbj .nav .most-title li.hover i,.t5s.myzbj .nav .most-title li.xcur i,.t5s.myzbj .nav .set i{display:none}
    .t5s.myzbj .main{background-image:none}
    .t5s.myzbj .main .main-con{border:1px solid #dcdbdb;padding-top:0;margin-top:20px; margin-bottom:20px;position:relative;background:#f9f9f9;padding-bottom:0}
    .t5s.myzbj .cont{border-left:1px solid #dcdbdb;min-height:520px}
    .t5s.myzbj .invite{right:-29px;top:0;display:none}
    .t5s.myzbj .main .mx5{display:inline;zoom:1}
    .t5s.myzbj .user-money-hidedetail i{position:relative;left:-3px}
    .t5s.myzbj .left-nav .user-money-hidedetail li a.money,.t5s.myzbj .left-nav .user-money-hidedetail li.hover a.money,.t5s.myzbj .left-nav .user-money-hidedetail li:hover a.money{background:gray;color:white;padding:2px;border-radius:3px;text-decoration:none}
    .t5s.myzbj .user-information dd.obc{width:88%}
    .t5s .user-ed .lot a.key,.t5s .user-ed .lot a.msg{background-image:none}
    .t5s.myzbj .bom-bg{background:0;height:20px}
    .t5s .left-nav iframe{display:block;margin:0 auto}
    .t5s.myzbj .check-sel a:link{padding:1px 8px;text-decoration:none;font-weight:normal}
    .t5s.myzbj .check-sel a:hover,.t5s.myzbj .check-sel a.cur{background-color:#ffa63d;color:white}
    .t5s.myzbj .check-sel a.cur:hover{color:white}
    .t5s .other-page a,.t5s .other-page a:link{color:#666}
    .t5s .other-page a:hover{color:#f60}
    .t5s .user-money li a{right:0}
    .t5s .tit-summary{font-size:14px;padding:3px 0 0 40px}
    .t5s div.tit-summary{background:transparent url(../../../v/img/bgs.png) 11% 8px no-repeat;cursor:pointer}
    .t5s .tit-summary.collapse{background-position:11% -33px}
    .t5s div.tit-summary:hover,div.tit-summary.hover{background-color:#eee}
    .t5s.myzbj .nav .most-title li p{padding-left:20px}

    .t5s .left-nav{padding-top:0}
    .t5s .ed-page .contnet{margin-left:230px; background:#FFF;}
    .t5s .user-ed-bg .nav li .set{width:190px}
    .t5s.myzbj .user-ed-bg .nav li .set{width:190px}
    .t5s .gaoshou-nav{display:none}
    .t5s .data-empty{border-top:0;background:#ff8a00;padding-top:6px}
    .t5s .data-empty .inner{overflow:hidden;background:#fafafa;border:1px solid #e2e2e2;border-top:0;padding:5px 50px 40px 50px}
    .t5s .data-empty .inner.type9{padding-bottom:0}
    .t5s .data-empty .info{padding-top:20px;font-size:18px;line-height:31px;margin-bottom:20px}
    .t5s .data-empty .type9 .butn{margin-bottom:5px}
    .t5s .data-empty .nodeal-info{margin-bottom:10px;line-height:25px;font-size:16px;padding-top:15px}
    .t5s .data-empty .nodeal-info .nodeal-head{color:#8b8b8b}
    .t5s .data-empty .nodeal-info .orange{font-size:1.5em}
    .t5s .data-empty .nodeal-publink{color:#0b73bb}
    .t5s .data-empty a.nodeal-publink{margin-top:5px}
    .t5s .data-empty .intro-pic{float:right}
    .t5s .data-empty .info strong{font-size:18px;font-weight:normal}
    .t5s .ui-header .user-ed{width:210px}
    .t5s .ui-menu{font-family:"Microsoft YaHei","宋体"}
    .t5s .ui-menu a:link,.t5s .ui-menu a:hover,.t5s .ui-menu a:visited{font-family:"Microsoft YaHei","SimHei","宋体"}
    .t5s .ui-menu .sidebar .category-content a:link,.t5s .ui-menu .sidebar .category-content a:hover,.t5s .ui-menu .sidebar .category-content a:visited{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif,"Microsoft YaHei","宋体"}
    .t5s .ui-menu .sidebar .category-content a.highlight,.t5s .ui-menu .sidebar .category-content a.highlight:visited{color:#ec0000}
    .t5s ul.inline>li,.t5s ol.inline>li{padding-left:0;padding-right:0}
    .t5s.myzbj .category-title i.iconfont{position:static;display:inline}
    .t5s .sidebar>a{text-decoration:none}
    .t5s .ui-menu-bd a{padding:0 20px}
    .t5s .ui-menu-bd .myzbj a{padding-right:115px}
    .t5s .ui-menu-bd .first a{padding-right:115px;background-color:#9e0000}
    .t5s .ui-menu-bd .cur{border-bottom:3px solid #FFF;height:35px}
    .t5s .myzbj .iconfont{padding-right:5px}
    .t5s .ui-header .user-ed .lot:hover a,.t5s .user-ed .lot.hover a,.t5s .ui-header .user-ed .lot a:hover{text-decoration:none}
    .t5s .ui-header .user-ed .lot:hover .ui-poptip a,.t5s .user-ed .lot.hover .ui-poptip a,.t5s .ui-header .user-ed .lot .ui-poptip a:hover{padding:0}
    .t5s .user-ed .ui-msg .num{top:-2px;right:-11px;padding-top:2px}
    .t5s .ui-menu-ext{color:#fff;text-decoration:none}
    .t5s .user-ed .lot a.key,.t5s .user-ed .lot a.msg,.t5s .ui-header .user-ed .ui-msghover a.msg,.t5s .ui-header .user-ed .ui-msghover:hover a.msg,.t5s .ui-header .user-ed .ui-msghover a.msg:hover,.t5s .ui-header .user-ed .lot:hover a.key,.t5s .ui-header .user-ed .lot.hover a.key{padding:0 0 9px 8px;top:-1px}
    .t5s .user-ed .lot ul{padding:5px 0}
    .t5s .ui-menu a:link,.t5s .ui-menu a:hover,.t5s .ui-menu a:active,.t5s .ui-menu a:visited{color:#333}
    .t5s .ui-menu .category-content a:link,.t5s .ui-menu .category-content a:hover,.t5s .ui-menu .category-content a:active,.t5s .ui-menu .category-content a:visited{color:#fff}
    .t5s .ui-menu .category-content .category-item.hover a{color:#333}
    .t5s .ui-menu .category-content .category-item.hover .category-item-list h4 a{color:#fff}
    .t5s.myzbj .ui-menu .grid .main {margin-left: 245px;}
    .t5s.myzbj .category-title {height: 40px;}
    .t5s.myzbj .grid .sidebar {width: 230px;}
    .category-title {margin: 0;background: #ff6666;font: normal 16px/40px "microsoft yahei","宋体";color: #fff;text-indent: 20px;position: relative;}
    .t5s .ui-header-top a,.t5s .ui-header-top a:link{color:#666}
    .t5s .ui-header-top a.highlight{color:#d9534f}
    .t5s .ui-header-top a.red{color:#da120d}
    .t5s .ui-dropdown-multi li.highlight a,.t5s .ui-dropdown-multi li.highlight a:link{color:#057bd2}
    .t5s .ui-header-top .user-name{color:#0b73bb}
    .t5s .ui-header-top a:hover,.t5s .ui-header-top a:focus{color:#f60;text-decoration:underline}
    .t5s .ui-header-entry .ui-header-task-entry-link{color:#666}
    .t5s .ui-header-entry .ui-header-task-panel .task-reason li{line-height:20px}
    .t5s .ui-header-hashotwords .ui-header-search-hotwords{display:none}
    .t5s .ui-header-mini .ui-form-search .search-query{height:21px!important}
    .t5s .myzbjicon{padding-right:4px}
    .t5s .ui-menu .sidebar{padding:0}
    .t5s .grid .main{background:0;height:auto;min-width:500px}
    .t5s .ui-menu-bd{margin-left:0}
    .t5s .ed-page .ln-c .navt{top:0}
    .t5s .ed-page .nav .set{width:215px}
    .t5s .ed-page .nav .tit{padding:8px 0 10px 15px}
    .t5s .user-ed-bg{background:0}
    .t5s .action-page{padding-bottom:0}
    .t5s .user-information a,.t5s .user-information a:link{color:#0b73bb}
    .t5s .user-information a:hover{color:#f60}
    .t5s.myzbj .myzbjbox a,.t5s.myzbj .myzbjbox a:link{color:#0b73bb}
    .t5s.myzbj .myzbjbox a:hover{color:#f60}
    .t5s.myzbj .bluelink a,.t5s.myzbj .bluelink a:link{color:#0b73bb}
    .t5s.myzbj .bluelink a:hover{color:#f60}
    .t5s.myzbj .myzbjbox a.ui-btn,.t5s.myzbj .myzbjbox a.ui-btn:link{color:white}
    .t5s.myzbj .myzbjbox a.ui-btn:hover{color:white}
    .t5s.myzbj p.sum .sign-suc,.t5s.myzbj p.sum .thankyou{color:red}
    .t5s .nav .user-ck li .sec p{padding:5px 0 5px 20px}
    .t5s .co-ri-f{margin-left:230px}
    .quanStyle.t5s,.t5s .output{background:url(../../../r/page/main-bg.gif)}
    .t5s .jiaoyi,.t5s .jiaoyi-con{background:url(../../../r/page/main-bg.gif)}
    .t5s.quanStyle .ui-menu a{color:#fff}
    body.t5s .nav .user-ck li.sel .sec p.cur{background-color:#e0e0e0}
    .t5s .output.notfound{background-image:none}
    .t5s .ui-footer{clear:both}
    .t5s .user-ed .lot a.tit{color:#666}
    .t5s .user-ed .lot{z-index:22}
    .t5s>.jiaoyi{display:none}
    .t5s .ui-user-body{padding:10px}
    .t5s .bao-img .ui-user-body{padding:0}
    @-moz-document url-prefix(){body.t5s.myzbj{visibility:visible}}.t5s .ui-header{*zoom:1}
    .t5s .ui-menu .ui-menu-bd li{*zoom:1;*display:inline}
    .t5s .ui-tab-nav .active{*background-color:transparent}
    .t5s .ui-header .input-append{*zoom:1;_height:1%;font-size:0}
    .t5s .ui-header-top,.t5s .ui-header-bd,.t5s .ui-tab-bd,.t5s .user-ed{*zoom:1;*display:block}
    .t5s .user-ed .lot a.key,.t5s .user-ed .lot a.msg,.t5s .ui-header .user-ed .ui-msghover a.msg,.t5s .ui-header .user-ed .ui-msghover:hover a.msg,.t5s .ui-header .user-ed .ui-msghover a.msg:hover,.t5s .ui-header .user-ed .lot:hover a.key,.t5s .ui-header .user-ed .lot.hover a.key,.t5s .ui-header .user-ed .lot a.key.hover,.t5s .ui-header .user-ed .lot a.key:hover{*padding:0;*top:-1px;*height:5px}
    .t5s .user-ed .lot a.key,.user-ed .lot .ui-poptip a.msg{*padding:0}
    .t5s .user-ed .lot a.tit i{*position:relative;*left:-5px;*height:5px}
    .t5s .ui-header-top .ui-dropdown{*zoom:1;_height:1%}
    .t5s .ui-header-top .ui-dropdown-hd{*zoom:1}
    .t5s .user-ed .lot ul{*top:31px}
    .t5s .user-ed .lot ul li{text-align:left}
    .t5s .ui-header .ui-form-search .search-query{*height:23px;float:none;border-radius:0;height:20px}
    .t5s .ui-header .ui-form-search .ui-btn{*position:relative;*left:-5px;border-radius:0;margin:0 0 0 -1px;vertical-align:top}
    .t5s a.ui-logo-sub{font-family:"Microsoft YaHei","SimHei"}
    .t5s.myzbj fieldset.tit-summary{*padding-left:0}
    .t5s .item-userinfo{*display:block;_height:1%}
    .t5s.myzbj .cont{*margin-left:0}
    .t5s.myzbj .co-ri-f .cont{*margin-left:0}
    .t5s .user-ed .lot .tit .iconfont{position:relative\9;left:-6px;*position:static}
    .t5s.myzbj .ui-menu-bd a{padding:0 15px;color:#fff}
    .t5s .ui-header-a-d img{max-width:100%;width:auto\9;height:60px;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}

    .ui-menu{height:40px;color:#fff;position:relative;z-index:19;background:#f82800}
    .ui-menu .main-wrap{border-bottom:2px solid #f82800}
    .ui-menu .sidebar{width:190px}
    .ui-menu .grid .main{margin-left:190px}
    .ui-menu-bd a,.ui-menu-ext,.ui-menu-sidebar{height:37px;line-height:37px;font-size:16px}
    .ui-menu-bd{float:left;margin-bottom:0}
    .ui-menu-bd a{display:inline-block;padding:0 20px;color:#fff}
    .ui-menu-ext{float:left;width:159px;margin-top:-1px;border:1px solid #c10000;background-color:#db3e00;text-align:center}
    .ui-menu-ext-pic{float:right;width:70px;height:17px;margin-top:13px;text-align:center;border:0;background:url('../../../t5s/index/img/market.png?t=20140415') no-repeat;position:relative}
    .ui-menu-ext-pic a{display:block;overflow:hidden;text-indent:-999px;line-height:17px}
    .ui-menu-ext a{color:#fff;display:block}
    .ui-menu-sidebar{background:#f27302;text-align:center}
    .ui-menu-sidebar a{color:#fff}
    .ui-menu-sidebar a:hover{color:#fff;text-decoration:none}
    .ui-menu-bd a:hover,.ui-menu-ext a:hover{text-decoration:none}
    .ui-menu-special{float:right;border-left:none}
    .ui-menu-special a{font:normal 12px/38px "宋体";color:#fff;padding:0 10px}

    /***********申请智库页面*************/
    .usr_zk_gz_tit{ font-size:14px; font-weight:bold;}
    .usr_zk_y_tit{ font-size:12px; font-weight:bold; height:28px; line-height:28px; width:70px; text-align:right;}
    .zk_year{ padding:5px; border:2px solid #f60; border-radius:2px; float:left; margin-left:10px;}
    .usr_zk_p{ float:left; margin-top:5px; margin-left:5px;color:#f60; font-size:14px; font-weight:bold;}
    .usr_zk_btn{ border:1px solid #CCC; padding:10px; cursor:pointer; margin-top:30px; margin-left:100px;}

    /***********用户基本信息页面*************/
    .per-infor .up-header a {width: 53px;height: 53px;overflow: hidden;position: relative;display: block; float:left;}
    .per-infor .up-header img {width: 53px;height: 53px;border-radius: 5px 5px 5px 5px;}
    .per-infor .up-header .up-img { color:#0b73bb; float:left; margin:5px auto auto 20px;}

    /***********收支明细息页面*************/
    .form-filter {position: relative;margin-top: 15px;}
    .form-filter form {margin: 0 0 20px;}
    .table-filter {padding: 10px 0;}
    .table-filter input{display: inline-block;height: 20px;padding: 4px 6px;font-size: 14px;line-height: 20px;color: #555;vertical-align: middle;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
    .table-filter .end-date, .table-filter .start-date {cursor: pointer;background-color: #fff;}
    .end-date {margin-right: 65px;}
    .table-filter .table-filter-input {width: 75px;border: 1px solid #dedede;text-align: center;margin-bottom: 0;}
    .table-filter-select {width: 68px;font-size: 12px;margin-bottom: 0;margin-right: 65px;}
    .table-filter .table-input-search {margin-bottom: 1px;padding-right: 20px;width: 85px;text-align: left;}
    .table-filter-search {color: #333;background: #ededed;padding: 5px 8px;margin-left: -11px;display: inline-block;border-radius: 0 3px 3px 0;border: 1px solid #dedede;}
    .form-szmx{width:800px; border:1px solid #ccc; margin-top:20px;}
    .form-filter table{ width:800px;}
    .form-filter th{ background:#f6f6f6; height:35px;width:33%; text-align:left; padding-left:10px; }
    .form-filter td{ height:35px; width:33%; padding-left:10px;}
}