@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?16315041');
  src: url('../font/fontello.eot?16315041#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?16315041') format('woff'),
       url('../font/fontello.ttf?16315041') format('truetype'),
       url('../font/fontello.svg?16315041#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
 
}
 
.icon-search:before { content: '\e800'; } 
.icon-down:before { content: '\e801'; } 
.icon-location:before { content: '\e802'; } 
.icon-home-outline:before { content: '\e803'; } 
.icon-user:before { content: '\e804'; } 