body,h1,h2,h3,h4,h5,h6,hr,p,pre,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea {
	margin:0;
	padding:0
}
h1,h2,h3,h4,h5,h6,button,input,select,textarea {
	font-size:100%;
	font-weight:normal
}
li {
	list-style:none
}
img,fieldset {
	border:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
em,i {
	font-style:normal
}
u,ins {
	text-decoration:none
}
:focus {
	outline:0
}
body {
	background:#fff;
	color:#333
}
a {
	color:#666
}
.guide-banner,.guide-about,.guide-help {
	font:12px/1.5 tahoma,'Hiragino Sans GB','Microsoft Yahei','\5b8b\4f53',sans-serif
}
.guide-banner {
	background:#fa8f0e url(../images/guide/bg-banner.jpg) center top no-repeat
}
.guide-about {
	background:#f6f6f5
}
.main-banner {
	position:relative;
	height:560px
}
.guide-hi {
	position:absolute;
	top:102px;
	left:45px
}
.slogan {
	font-size:40px;
	font-weight:bold;
	color:#fff;
	margin-bottom:10px
}
.u-will {
	background:url(../images/guide/line-01.png) 5px 0 no-repeat;
	font-size:14px;
	color:#ffdbb1;
	padding-top:10px;
	padding-left:3px;
	margin-bottom:29px
}
.u-will strong {
	display:block;
	font-size:26px;
	color:#fff;
	font-weight:normal;
	margin-bottom:3px
}
.u-can {
	display:inline-block;
	border:1px solid #fff;
	border-radius:22px;
	height:43px;
	line-height:43px;
	color:#fff;
	font-size:18px;
	padding:0 34px;
	border-color:rgba(255,255,255,0.9);
	transition:all .3s ease
}
.u-can:hover {
	color:#fff;
	text-decoration:none;
	border-color:#fff;
	padding:0 38px;
	padding:0 34px\9
}
.u-can:link,.u-can:visited,.u-can:hover,.u-can:active {
	outline:0;
	color:#fff;
	text-decoration:none
}
.guide-show {
	position:absolute;
	top:52px;
	left:559px;
	width:455px;
	height:363px;
	background:url(../images/guide/bg-show.png) no-repeat
}
.fix-show-hehe {
	position:absolute;
	top:90px;
	left:116px;
	width:41px;
	height:28px
}
.guide-step {
	position:absolute;
	top:389px;
	left:0;
	width:100%
}
.guide-step .hd {
	text-indent:-9999em;
	height:0;
	overflow:hidden
}
.guide-step .bd {
	position:absolute;
	z-index:2;
	width:100%
}
.step-list li {
	display:inline-block;
	width:33%;
	height:100px;
	text-align:center;
	font-size:0;
	*float:left;
	position:relative
}
.step-list .ico {
	display:inline-block;
	width:52px;
	height:52px;
	background:url(../images/guide/ico-step.png) no-repeat;
	*margin-top:20px
}
.step-list .stp-2 .ico {
	background-position:0 -52px
}
.step-list .stp-3 .ico {
	background-position:0 -104px
}
.step-list .tit {
	font-size:16px;
	color:#fff;
	padding-top:4px;
	text-shadow:1px 1px 3px rgba(0,0,0,0.1);
	*left:0
}
.step-line {
	position:absolute;
	width:100%;
	height:1px;
	top:45px;
	z-index:1
}
.step-line i {
	width:5px;
	height:5px;
	position:absolute;
	top:-2px;
	right:0;
	background:rgba(255,255,255,0.9);
	border-radius:3px;
	box-shadow:0 0 7px rgba(255,255,255,0.8)
}
.ico-mouse {
	position:absolute;
	bottom:13px;
	left:50%;
	z-index:3;
	margin-left:-8px;
	width:16px;
	height:24px;
	background:url(../images/guide/ico-sprt.png) -24px 0 no-repeat
}
.ico-mouse:hover {
	opacity:1
}
.main-about {
	position:relative;
	height:1200px
}
.main-about .hd {
	text-indent:-9999em;
	height:0;
	overflow:hidden
}
.main-about .bd {
	position:absolute;
	z-index:4;
	width:335px
}
.main-about .tit {
	font-size:26px;
	margin-bottom:5px
}
.main-about .inf {
	font-size:14px;
	line-height:1.8;
	color:#666;
	margin-bottom:14px
}
.main-about .lst li {
	padding-left:25px;
	margin-bottom:15px;
	color:#999
}
.main-about .lst li i {
	position:absolute;
	width:10px;
	height:10px;
	background:url(../images/guide/ico-sprt.png) -24px -25px no-repeat;
	margin:5px 0 0 -23px;
	font-size:0
}
.main-about .arr {
	position:absolute;
	top:13px;
	left:-59px;
	width:23px;
	height:19px;
	font-size:0;
	background:url(../images/guide/ico-sprt.png) no-repeat
}
.main-about .img {
	position:absolute;
	z-index:3
}
.main-about .img i {
	position:absolute;
	z-index:4
}
.about-what {
	top:156px;
	left:595px
}
.about-why {
	top:496px;
	left:173px
}
.about-how {
	top:830px;
	left:595px
}
.about-why .arr {
	top:13px;
	right:-55px;
	left:auto;
	background-position:0 -19px
}
.about-what .img {
	width:452px;
	height:391px;
	top:-57px;
	left:-536px;
	background:url(../images/guide/a-01.png?t=1111) no-repeat
}
.about-why .img {
	width:564px;
	height:370px;
	top:-49px;
	left:402px;
	background:url(../images/guide/a-02.png?t=1111) no-repeat
}
.about-how .img {
	width:505px;
	height:373px;
	top:-4px;
	left:-585px;
	background:url(../images/guide/a-03.png?t=1111) no-repeat
}
.about-what .img-01 {
	top:0;
	left:59px;
	width:132px;
	height:62px;
	background:url(../images/guide/a-01-01.png) no-repeat
}
.about-what .img-02 {
	top:138px;
	left:383px;
	width:68px;
	height:52px;
	background:url(../images/guide/a-01-02.png) no-repeat
}
.about-what .img-03 {
	top:167px;
	left:87px;
	width:72px;
	height:42px;
	background:url(../images/guide/a-01-03.png) no-repeat
}
.about-why .img-01 {
	top:98px;
	left:441px;
	width:55px;
	height:39px;
	background:url(../images/guide/a-02-01.png) no-repeat
}
.about-why .img-02 {
	top:130px;
	left:375px;
	width:43px;
	height:30px;
	background:url(../images/guide/a-02-02.png) no-repeat
}
.about-why .img-03 {
	top:151px;
	left:319px;
	width:35px;
	height:25px;
	background:url(../images/guide/a-02-03.png) no-repeat
}
.about-how .img-01 {
	top:0;
	left:200px;
	width:150px;
	height:185px;
	background:url(../images/guide/a-03-01.png) no-repeat
}
.about-how .img-02 {
	top:115px;
	left:329px;
	z-index:5;
	width:94px;
	height:112px;
	background:url(../images/guide/a-03-02.png) no-repeat
}
.about-how .img-03 {
	top:0;
	left:100px;
	z-index:6;
	width:17px;
	height:17px;
	background:url(../images/guide/a-03-03.png) no-repeat
}
.about-line {
	position:absolute;
	left:50%;
	top:0;
	z-index:2;
	margin-left:-1px;
	width:2px;
	height:100%;
	background:#FB4515;
}
.about-arr {
	position:absolute;
	top:0;
	left:50%;
	z-index:2;
	margin-left:-25px;
	width:50px;
	height:30px;
	background:url(../images/guide/ico-sprt.png) -40px 0 no-repeat
}
.about-line .dot,.about-line .btn {
	position:absolute;
	bottom:0
}
.about-line .btn {
	z-index:2;
	background:url(../images/guide/ico-sprt.png) 0 -37px no-repeat;
	width:51px;
	height:51px;
	line-height:200em;
	overflow:hidden;
	bottom:-51px;
	left:-25px;
	display:none;
	cursor:pointer
}
.about-line .btn:hover {
	background-position:-51px -37px
}
.guide-help {
	background:#4c5661 url(../images/guide/bg-help.jpg?t=1111) center bottom no-repeat
}
.main-help {
	position:relative;
	min-height:620px;
	z-index:1
}
.main-help .hd {
	text-align:center;
	padding:65px 0 68px;
	color:#fff
}
.main-help .hd .tit {
	font-size:26px;
	margin-bottom:7px
}
.main-help .hd .tip {
	color:#bbbec1
}
.main-help .hd .u {
	color:#c57d37;
	text-decoration:underline
}
.help-list {
	*zoom:1;
	overflow:hidden;
	margin-bottom:60px
}
.help-list .itm {
	float:left;
	width:217px;
	min-height:236px;
	background:#fff;
	border:3px solid #414c58;
	border-radius:6px;
	margin:0 26px
}
.help-list .tit {
	font-size:16px;
	font-weight:normal;
	padding:28px 10px 0;
	margin-bottom:15px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	text-align:center
}
.help-list .lst {
	border-top:1px solid #e7e7e7;
	margin:0 25px;
	padding:16px 0 0
}
.help-list .lst li {
	margin-bottom:20px;
	padding-left:15px;
	color:#666
}
.help-list .lst li i {
	position:absolute;
	width:4px;
	height:4px;
	background:url(../images/guide/ico-sprt.png) -35px -25px no-repeat;
	margin:8px 0 0 -15px;
	font-size:0
}
.help-data {
	padding:72px 0 0;
	width:100%;
	overflow:hidden;
	color:#bcbdbe;
	background:url(../images/guide/bg-line.png?t=1111) repeat-x;
	min-height:205px
}
.help-data .fix {
	width:120%;
	*zoom:1;
	overflow:hidden;
	padding-left:33px
}
.help-data .itm {
	float:left;
	width:370px;
	padding-right:10px
}
.help-data .tit {
	font-size:14px;
	color:#fa8c0a;
	margin-bottom:5px
}
.help-data .num {
	height:42px;
	line-height:42px;
	margin-bottom:8px;
	font-size:14px
}
.help-data .num em {
	color:#fff
}
.help-data .num b {
	font-size:38px;
	font-weight:bold;
	font-family:'Microsoft Yahei'
}
.help-data .num ins {
	padding:0 3px
}
.help-data .num span {
	padding-left:13px
}
.help-todo {
	text-align:center
}
.help-todo .btn {
	display:inline-block;
	height:67px;
	line-height:67px;
	font-size:27px;
	color:#fff;
	border-radius:34px;
	padding:0 64px;
	background:#FB4515;
	font-weight:normal;
	transition:all .5s ease
}
.help-todo .btn:hover {
	text-decoration:none;
	background:#ff6666;
}
.help-todo .btn:link,.help-todo .btn:visited,.help-todo .btn:hover,.help-todo .btn:active {
	outline:0;
	color:#fff;
	text-decoration:none
}
.main-about {
	overflow:hidden
}
.about-line {
	height:0
}
.guide-step {
	top:370px
}
.guide-step .bd {
	height:100px;
	overflow:hidden
}
.step-list {
	display:table;
	width:100%
}
.step-list li {
	display:table-cell;
	vertical-align:middle
}
.step-list li .ico {
	opacity:0;
	opacity:1\9
}
.step-list .tit {
	position:absolute;
	bottom:-30px;
	bottom:0\9;
	width:100%;
	text-align:center
}
.step-line {
	box-shadow:0 0 5px rgba(255,255,255,0.5);
	box-shadow:none\9;
	background:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.8) 300px,rgba(255,255,255,0.8) 800px,rgba(255,255,255,0));
	background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.8) 300px,rgba(255,255,255,0.8) 800px,rgba(255,255,255,0));
	background:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.8) 300px,rgba(255,255,255,0.8) 800px,rgba(255,255,255,0));
	animation:AnimateLight 6s 1 both;
	-webkit-animation:AnimateLight 6s 1 both
}
.step-line i {
	animation:AnimateDot .5s infinite;
	-webkit-animation:AnimateDot .5s infinite;
	display:none\9
}
.step-list li.stp-1 .ico {
	animation:AnimateIco .8s .3s forwards;
	-webkit-animation:AnimateIco .8s .3s forwards
}
.step-list li.stp-2 .ico {
	animation:AnimateIco .8s 2.1s forwards;
	-webkit-animation:AnimateIco .8s 2.1s forwards
}
.step-list li.stp-3 .ico {
	animation:AnimateIco .8s 3.9s forwards;
	-webkit-animation:AnimateIco .8s 3.9s forwards
}
.step-list li.stp-1 .tit {
	animation:AnimateTit .8s .6s forwards;
	-webkit-animation:AnimateTit .8s .6s forwards
}
.step-list li.stp-2 .tit {
	animation:AnimateTit .8s 2.4s forwards;
	-webkit-animation:AnimateTit .8s 2.4s forwards
}
.step-list li.stp-3 .tit {
	animation:AnimateTit .8s 4.2s forwards;
	-webkit-animation:AnimateTit .8s 4.2s forwards
}
.help-list .itm.on {
	animation:AnimateHelp .5s forwards;
	-webkit-animation:AnimateHelp .5s forwards
}
.ico-mouse.on {
	animation:AnimateHehe 1s 2 1s;
	-webkit-animation:AnimateHehe 1s 2 1s
}
.about-arr {
	animation:AnimateAboutArr .5s 0 forwards;
	-webkit-animation:AnimateAboutArr .5s 0 forwards
}
.j-scroll-help.on {
	animation:AnimateHelpArr 1.5s 0 forwards;
	-webkit-animation:AnimateHelpArr 1.5s 0 forwards
}
.main-about .bd .cnt,.main-about .bd .arr,.main-about .bd .img,.main-about .bd .lst li {
	opacity:0;
	opacity:1\9
}
.main-about .bd.on .arr {
	animation:AnimateAboutCur 5s .5s forwards;
	-webkit-animation:AnimateAboutCur 5s .5s forwards
}
.main-about .bd.on .cnt {
	animation:AnimateAbout 1.5s 1.2s forwards;
	-webkit-animation:AnimateAbout 1.5s 1.2s forwards
}
.main-about .bd.on .lst li {
	animation:AnimateAboutLi .5s 1.2s forwards;
	-webkit-animation:AnimateAboutLi .5s 1.2s forwards
}
.main-about .bd.on .img {
	animation:AnimateAboutImg .5s .75s forwards;
	-webkit-animation:AnimateAboutImg .5s .75s forwards
}
.main-about .img-01 {
	animation:bounce 7s 4s infinite;
	-webkit-animation:bounce 7s 4s infinite
}
.main-about .img-02 {
	animation:bounce 7s 5s infinite;
	-webkit-animation:bounce 7s 5s infinite
}
.main-about .img-03 {
	animation:bounce 7s 6s infinite;
	-webkit-animation:bounce 7s 6s infinite
}
.about-how .img-02,.about-what .img-01 {
	animation:none;
	-webkit-animation:none
}
.about-what .img-01 {
	animation:AnimateCloud 5s 4s infinite;
	-webkit-animation:AnimateCloud 5s 4s infinite
}
.guide-help .grid {
	position:relative
}
.lay-dot-01,.lay-dot-02 {
	background:url(../images/guide/dot.png) -100px bottom no-repeat;
	position:absolute;
	bottom:100px;
	left:0;
	width:100%;
	height:620px;
	z-index:0
}
.lay-dot-01 {
	-webkit-animation:AnimateCloud 15s 3s infinite
}
.lay-dot-02 {
	-webkit-animation:AnimateCloud 10s 3s infinite;
	background-position:-500px 200px;
	opacity:.7;
	display:none\9
}
@-webkit-keyframes AnimateAboutAA {
	0% {
	margin-top:0;
	margin-left:0
}
30% {
	margin-top:0;
	margin-left:5px
}
60% {
	margin-top:0;
	margin-left:0
}
0% {
	margin-top:0;
	margin-left:0
}
}@keyframes AnimateLight {
	0% {
	opacity:0;
	width:0
}
10% {
	opacity:1;
	width:185px
}
20% {
	opacity:1;
	width:185px
}
40% {
	opacity:1;
	width:550px
}
50% {
	opacity:1;
	width:550px
}
70% {
	opacity:1;
	width:915px
}
80% {
	opacity:1;
	width:915px
}
90% {
	opacity:1;
	width:915px
}
100% {
	opacity:0;
	width:915px
}
}@-webkit-keyframes AnimateLight {
	0% {
	opacity:0;
	width:0
}
10% {
	opacity:1;
	width:185px
}
20% {
	opacity:1;
	width:185px
}
40% {
	opacity:1;
	width:550px
}
50% {
	opacity:1;
	width:550px
}
70% {
	opacity:1;
	width:915px
}
80% {
	opacity:1;
	width:915px
}
90% {
	opacity:1;
	width:915px
}
100% {
	opacity:0;
	width:915px
}
}@keyframes AnimateDot {
	0% {
	transform:scale(0.5,0.5)
}
25% {
	transform:scale(1,1)
}
100% {
	transform:scale(0.5,0.5)
}
}@-webkit-keyframes AnimateDot {
	0% {
	-webkit-transform:scale(0.5,0.5)
}
25% {
	-webkit-transform:scale(1,1)
}
100% {
	-webkit-transform:scale(0.5,0.5)
}
}@keyframes AnimateIco {
	0% {
	opacity:1;
	transform:scale(0,0)
}
25% {
	opacity:1;
	transform:scale(1.1,1.1)
}
45% {
	opacity:1;
	transform:scale(0.8,0.8)
}
65% {
	opacity:1;
	transform:scale(1.05,1.05)
}
85% {
	opacity:1;
	transform:scale(0.95,0.95)
}
100% {
	opacity:1;
	transform:scale(1,1)
}
}@-webkit-keyframes AnimateIco {
	0% {
	opacity:1;
	-webkit-transform:scale(0,0)
}
25% {
	opacity:1;
	-webkit-transform:scale(1.1,1.1)
}
45% {
	opacity:1;
	-webkit-transform:scale(0.8,0.8)
}
65% {
	opacity:1;
	-webkit-transform:scale(1.05,1.05)
}
85% {
	opacity:1;
	-webkit-transform:scale(0.95,0.95)
}
100% {
	opacity:1;
	-webkit-transform:scale(1,1)
}
}@keyframes AnimateTit {
	40% {
	bottom:10px
}
50% {
	bottom:-2px
}
60% {
	bottom:2px
}
100% {
	bottom:0
}
}@-webkit-keyframes AnimateTit {
	40% {
	bottom:10px
}
50% {
	bottom:-2px
}
60% {
	bottom:2px
}
100% {
	bottom:0
}
}@keyframes AnimateHehe {
	0% {
	opacity:1
}
5% {
	opacity:.5
}
10% {
	opacity:1
}
15% {
	opacity:.5
}
20% {
	opacity:1
}
100% {
	opacity:1
}
}@-webkit-keyframes AnimateHehe {
	0% {
	opacity:1
}
5% {
	opacity:.5
}
10% {
	opacity:1
}
15% {
	opacity:.5
}
20% {
	opacity:1
}
100% {
	opacity:1
}
}@keyframes AnimateAbout {
	0% {
	opacity:0;
	margin-top:0
}
50% {
	opacity:1;
	margin-top:0
}
100% {
	opacity:1
}
}@-webkit-keyframes AnimateAbout {
	0% {
	opacity:0;
	margin-top:0
}
50% {
	opacity:1;
	margin-top:0
}
100% {
	opacity:1
}
}@keyframes AnimateCloud {
	0% {
	transform:translate3d(0,0,0)
}
50% {
	transform:translate3d(15px,0,0)
}
100% {
	transform:translate3d(0,0,0)
}
}@-webkit-keyframes AnimateCloud {
	0% {
	transform:translate3d(0,0,0)
}
50% {
	transform:translate3d(15px,0,0)
}
100% {
	transform:translate3d(0,0,0)
}
}@-webkit-keyframes AnimateAboutArr {
	0% {
	margin-top:-30px
}
100% {
	margin-top:0
}
}@keyframes AnimateAboutCur {
	0% {
	opacity:0
}
5% {
	opacity:1
}
80% {
	opacity:1
}
100% {
	opacity:1
}
}@-webkit-keyframes AnimateAboutCur {
	0% {
	opacity:0
}
5% {
	opacity:1
}
80% {
	opacity:1
}
100% {
	opacity:1
}
}@keyframes AnimateAboutLi {
	0% {
	opacity:0;
	margin-top:-15px
}
100% {
	opacity:1;
	margin-top:0
}
}@-webkit-keyframes AnimateAboutLi {
	0% {
	opacity:0;
	margin-top:-15px
}
100% {
	opacity:1;
	margin-top:0
}
}@keyframes AnimateAboutImg {
	0% {
	opacity:0;
	margin-left:-15px
}
100% {
	opacity:1;
	margin-left:0
}
}@-webkit-keyframes AnimateAboutImg {
	0% {
	opacity:0;
	margin-left:-15px
}
100% {
	opacity:1;
	margin-left:0
}
}@keyframes AnimateHelpArr {
	10% {
	bottom:-28px;
	transform:rotateX(-35deg)
}
35% {
	bottom:-13px;
	transform:rotateX(0deg)
}
50% {
	bottom:-27px;
	transform:rotateX(-25deg)
}
60% {
	bottom:-18px;
	transform:rotateX(0)
}
70% {
	bottom:-23px;
	transform:rotateX(-5deg)
}
90% {
	bottom:-23px;
	transform:rotateX(0deg)
}
100% {
	bottom:-23px;
	transform:rotateX(0deg)
}
}@-webkit-keyframes AnimateHelpArr {
	10% {
	bottom:-28px;
	-webkit-transform:rotateX(-35deg)
}
35% {
	bottom:-13px;
	-webkit-transform:rotateX(0deg)
}
50% {
	bottom:-27px;
	-webkit-transform:rotateX(-25deg)
}
60% {
	bottom:-18px;
	-webkit-transform:rotateX(0)
}
70% {
	bottom:-23px;
	-webkit-transform:rotateX(-5deg)
}
90% {
	bottom:-23px;
	-webkit-transform:rotateX(0deg)
}
100% {
	bottom:-23px;
	-webkit-transform:rotateX(0deg)
}
}@keyframes AnimateHelp {
	0% {
	opacity:0;
	transform:rotateY(-75deg)
}
100% {
	opacity:1;
	transform:rotateY(0deg)
}
}@-webkit-keyframes AnimateHelp {
	0% {
	opacity:0;
	-webkit-transform:rotateY(-75deg)
}
100% {
	opacity:1;
	-webkit-transform:rotateY(0deg)
}
}@keyframes bounce {
	0%,100%,20%,53%,80% {
	transition-timing-function:cubic-bezier(0.215,0.61,0.355,1);
	transform:translate3d(0,0,0)
}
40%,43% {
	transition-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);
	transform:translate3d(0,-8px,0)
}
70% {
	transition-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);
	transform:translate3d(0,-5px,0)
}
90% {
	transform:translate3d(0,-2px,0)
}
}@-webkit-keyframes bounce {
	0%,100%,20%,53%,80% {
	transition-timing-function:cubic-bezier(0.215,0.61,0.355,1);
	transform:translate3d(0,0,0)
}
40%,43% {
	transition-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);
	transform:translate3d(0,-8px,0)
}
70% {
	transition-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);
	transform:translate3d(0,-5px,0)
}
90% {
	transform:translate3d(0,-2px,0)
}
}